<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f_a.project_moca">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.SignUpActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.ForgotPassword"
            android:theme="@style/LoginTheme" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.detail.DetailActivity" />
    </application>

</manifest>